@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--on-background);
  background-color: var(--background);
  /* backdrop-filter: blur(1rem); */
}

body.dark {
  --background: #1b1b1f;
  --on-background: #e3e2e6;

  --surface: #1b1b1f;
  --on-surface: #e3e2e6;

  --surface-glaze: #1b1b1fcc;

  --surface-1: linear-gradient(
      0deg,
      rgba(173, 198, 255, 0.05),
      rgba(173, 198, 255, 0.05)
    ),
    #1b1b1f;
  --surface-2: linear-gradient(
      0deg,
      rgba(173, 198, 255, 0.08),
      rgba(173, 198, 255, 0.08)
    ),
    #1b1b1f;
  --surface-3: linear-gradient(
      0deg,
      rgba(173, 198, 255, 0.11),
      rgba(173, 198, 255, 0.11)
    ),
    #1b1b1f;
  --surface-4: linear-gradient(
      0deg,
      rgba(173, 198, 255, 0.12),
      rgba(173, 198, 255, 0.12)
    ),
    #1b1b1f;
  --surface-5: linear-gradient(
      0deg,
      rgba(173, 198, 255, 0.14),
      rgba(173, 198, 255, 0.14)
    ),
    #1b1b1f;

  --surface-variant: #44474f;
  --on-surface-variant: #c4c6d0;
  --outline: #8e9099;

  --primary: #adc6ff;
  --on-primary: #002e69;
  --primary-container: #004494;
  --on-primary-container: #d8e2ff;

  --primary-glaze: #adc6ffcc;
  --primary-container-glaze: #002e69cc;

  --custom-color-1: #a3d72d;
  --on-custom-color-1: #253600;
  --custom-color-1-container: #374e00;
  --on-custom-color-1-container: #bef44a;

  --custom-color-1-glaze: #a3d72dcc;
  --custom-color-1-container-glaze: #253600cc;
}

#app {
  min-height: 100vh;
}

:root {
  --background: #fefbff;
  --on-background: #1b1b1f;

  --surface: #fefbff;
  --on-surface: #1b1b1f;

  --surface-glaze: #fefbffcc;

  --surface-1: linear-gradient(
      0deg,
      rgba(0, 90, 193, 0.05),
      rgba(0, 90, 193, 0.05)
    ),
    #fefbff;
  --surface-2: linear-gradient(
      0deg,
      rgba(0, 90, 193, 0.08),
      rgba(0, 90, 193, 0.08)
    ),
    #fefbff;
  --surface-3: linear-gradient(
      0deg,
      rgba(0, 90, 193, 0.11),
      rgba(0, 90, 193, 0.11)
    ),
    #fefbff;
  --surface-4: linear-gradient(
      0deg,
      rgba(0, 90, 193, 0.12),
      rgba(0, 90, 193, 0.12)
    ),
    #fefbff;
  --surface-5: linear-gradient(
      0deg,
      rgba(0, 90, 193, 0.14),
      rgba(0, 90, 193, 0.14)
    ),
    #fefbff;

  --surface-variant: #e1e2ec;
  --on-surface-variant: #44474f;
  --outline: #74777f;

  --primary: #005ac1;
  --on-primary: #ffffff;
  --primary-container: #d8e2ff;
  --on-primary-container: #001a41;

  --primary-glaze: #005ac1cc;
  --primary-container-glaze: #d8e2ffcc;

  --custom-color-1: #4a6700;
  --on-custom-color-1: #ffffff;
  --custom-color-1-container: #bef44a;
  --on-custom-color-1-container: #141f00;

  --custom-color-1-glaze: #4a6700cc;
  --custom-color-1-container-glaze: #bef44acc;

  --border-radius: 1rem;

  --box-shadow: 0 0 0.3rem 0.1rem var(--outline);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h2 {
  margin-bottom: 5rem;
  font-weight: 600;
  font-size: 2.6rem;
  text-transform: capitalize;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--custom-color-1);
  text-decoration: underline;
}

.page {
  min-height: 90vh;
}

.invert {
  filter: invert();
}
